<!doctype html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/logos/favicon.png' %}" />
  <link rel="stylesheet" href="{% static 'css/styles.min.css' %}" />
  <link rel="stylesheet" href="{% static 'libs/toastr/toastr.min.css' %}">
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="{% static 'images/logos/dark-logo.svg' %}" width="180" alt="">
                </a>
                <p class="text-center">Your Social Campaigns</p>
                <form id="quickForm" method="post">
                  {% csrf_token %}
                  <div class="mb-3 form-group">
                    <label for="examplePassword" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="examplePassword" aria-describedby="emailHelp">
                  </div>
                  <div class="mb-4 form-group">
                    <label for="exampleConfirmPassword" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="confirm_password" id="exampleConfirmPassword">
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Confirm</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'libs/toastr/toastr.min.js' %}"></script>
  <script src="{% static 'libs/jquery-validation/jquery.validate.min.js' %}"></script>
  <script src="{% static 'libs/jquery-validation/additional-methods.min.js' %}"></script>


  <script>
    $(function () {
      $('#quickForm').validate({
        rules: {
            password: {
                required: true,
            },
            confirm_password: {
                required: true,
                equalTo: "#examplePassword" // make sure it matches the password field
            }
        },
        messages: {
            password: {
                required: "Please enter a password",
            },
            confirm_password: {
                required: "Please confirm your password",
                equalTo: "Passwords doesn't Match!"
            }
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
          error.addClass('invalid-feedback');
          element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
          $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
          $(element).removeClass('is-invalid');
        }
      });
    });
    </script>


  <script>
       toastr.options = {
     "closeButton": true,
     "newestOnTop": false,
     "progressBar": true,
     "positionClass": "toast-top-right",
     "preventDuplicates": false,
     "onclick": null,
     "showDuration": "300",
     "hideDuration": "1000",
     "timeOut": "5000",
     "extendedTimeOut": "1000",
     "showEasing": "swing",
     "hideEasing": "linear",
     "showMethod": "fadeIn",
     "hideMethod": "fadeOut"
     }
 
     $(document).ready(function() {
     {% if messages %}
         {% for message in messages %}
             {% if message.tags %}
 
                 {% if message.tags == 'success' %}
                     toastr.success("{{ message }}");
                 {% elif message.tags == 'info' %}
                     toastr.info("{{ message }}");
                 {% elif message.tags == 'warning' %}
                     toastr.warning("{{ message }}");
                 {% elif message.tags == 'error' %}
                     toastr.error("{{ message }}");
                 {% endif %}
 
             {% endif %}
         {% endfor %}
     {% endif %}
     });
  </script>
</body>

</html>