{% extends 'base.html' %}

{% load static %}
{% block content %}
<section class="page_title ds s-pt-105 s-pb-50 s-pt-lg-115 s-pb-lg-60">
  <div class="divider-3 d-none d-lg-block"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="bold text-center text-lg-left">Cancellation & Refund Policy</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'main:home' %}">Home</a>
          </li>
          <li class="breadcrumb-item active">
            Cancellation & Refund Policy
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="ls s-py-60 s-pb-md-100 s-py-lg-150">
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row align-items-center text-center text-lg-left c-gutter-0">
        <div class="left-content col-lg-12 col-12 text-center text-lg-left">
          <h4 class="mt-0">Cancellation & <span class="text-gradient">Refund Policy</span></h4>
          <div class="divider-60 d-none d-xl-block"></div>
          <p>
            carmechaniconline.com shall confirm and initiate the carmechaniconline.com Services only upon receiving the confirmation from you. If you wish to cancel a carmechaniconline.com Service on the carmechaniconline.com Application, You shall select the cancel option on the carmechaniconline.com Application. It is to be noted that you may have to pay a cancellation fee for transactions initiated on the carmechaniconline.com Application for which work has already been commenced by the Mechanic, as the case may be. With respect to work commenced by the Mechanic, the cancellation fee will be charged to you who will be in accordance with the cancellation and refund policies of such Orders.<br>
            &nbsp;
        </p>

        <p>carmechaniconline.com may cancel the transaction initiated by you on the carmechaniconline.com Application, if:</p>

        <ul>
            <li>The designated address to avail of the carmechaniconline.com Services provided by you is outside the service zone of carmechaniconline.com.</li>
            <li>Failure to get your response via phone or any other communication channel at the time of confirmation of the order booking.</li>
            <li>
                Information and instructions provided by You are not complete or sufficient to execute the order initiated by You on the carmechaniconline.com Application.<br>
                <br>
                If the Service cannot be completed for reasons that are not in the control of carmechaniconline.com, carmechaniconline.com shall initiate the Refund for the cancelled order. carmechaniconline.com shall refund for a such cancelled order, as per the table mentioned below:
                <table border="1">
                    <thead>
                        <tr>
                            <th scope="col">PAYMENT METHOD</th>
                            <th scope="col">REFUND SOURCE</th>
                            <th scope="col">TAT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Net Banking</td>
                            <td>Source</td>
                            <td>5-7 Business Days</td>
                        </tr>
                        <tr>
                            <td>Debit/Credit Cards</td>
                            <td>Source</td>
                            <td>5-7 Business Days</td>
                        </tr>
                        <tr>
                            <td>UPI</td>
                            <td>Source</td>
                            <td>5-7 Business Days</td>
                        </tr>
                        <tr>
                            <td>Phone Pe (Wallet)/Wallets-Paytm/Mobikwik/Freecharge</td>
                            <td>Source</td>
                            <td>5-7 Business Days</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                All decisions with respect to refunds will be at the sole discretion of carmechaniconline.com and in accordance with carmechaniconline.com 24x7 internal refund policy (Refund Metrics) and the same shall be final and binding. All refunds initiated by carmechaniconline.com shall be refunded to the financial source account from which, You have initiated the transaction on the Platform.
            </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="divider-110 d-none d-lg-block"></div> -->
</section>
{% endblock %}