{% load static %}

<!-- <footer class="page_footer text-center text-md-left ds ms s-pt-65 s-pt-lg-125 s-pb-lg-35 c-gutter-40 main-footer">
    <div class="container">
        <div class="row">
            <div class="divider-20 d-none d-lg-block"></div>

            <div class="col-md-6 col-lg-3 animate" data-animation="fadeInUp">

                <div class="widget widget_icons_list">
                    <a href="./" class="logo">
                        <img src="{% static 'images/logo.png' %}" alt="">
                        <span class="logo-text fw-500">Car<span class="fw-200">Mechanic</span></span>
                    </a>
                    <div class="media side-icon-box">
                        <div class="icon-styled color-main">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <p class="media-body color-grey">K Building, Walchand Hirachand Marg, Opp. Red Gate, Fort, Mumbai - 400001</p>
                    </div>
                    <div class="media side-icon-box">
                        <div class="icon-styled color-main">
                            <i class="fa fa-phone"></i>
                        </div>

                        <p class="media-body color-grey"><a href="tel:+9191521 11610">+91 91521 11610</a></p>
                    </div>
                    <div class="media side-icon-box">
                        <div class="icon-styled color-main">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <p class="media-body color-grey">
                            <a href="mailto:contact@carmechaniconline.com"><span class="__cf_email__">contact@carmechaniconline.com</span></a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="col-md-6 col-lg-3 animate order-md-4 order-lg-3" data-animation="fadeInUp">
                <div class="widget widget_services_links">
                    <h3>Services</h3>
                    <ul>
                        <li>
                            <a href="#"><i class="ico-check-circle"></i>Exterior Hand Wash</a>
                        </li>
                        <li>
                            <a href="#"><i class="ico-check-circle"></i>Tower Hand Dry</a>
                        </li>
                        <li>
                            <a href="#"><i class="ico-check-circle"></i>Tire Dressing</a>
                        </li>
                        <li>
                            <a href="#"><i class="ico-check-circle"></i>Wheel Shine</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer> -->

<section class="page_copyright ds ms s-pt-5 s-pb-25 s-py-lg-20">
    <div class="container">
        <div class="divider-2 d-none d-lg-block"></div>
        <div class="row align-items-center">
            <div class="divider-20 d-none d-lg-block"></div>
            <div class="col-md-12 text-center">
                <p class="social-icons with-border">
                    <span><a href="https://www.facebook.com/" class="fa fa-facebook border-icon rounded-icon" title="facebook"></a></span>
                    <span><a href="https://telegram.org/" class="fa fa-paper-plane border-icon rounded-icon" title="telegram"></a></span>
                    <span><a href="https://www.instagram.com/" class="fa fa-instagram border-icon rounded-icon" title="instagram"></a></span>
                </p>
                <div class="footer-links mb-3">
                    <a href="{% url 'main:terms_conditon' %}" class="mx-2">Terms & Conditions</a> |
                    <a href="{% url 'main:privacy_policy' %}" class="mx-2">Privacy Policy</a> |
                    <a href="{% url 'main:cancellation_refund_policy' %}" class="mx-2">Cancellation & Refund Policy</a>
                </div>
                <p>&copy;CarMechanic <span class="copyright_year">2024</span> All Rights Reserved</p>
            </div>
            <div class="divider-20 d-none d-lg-block"></div>
        </div>
    </div>
</section>